#container {
    display: grid;
    grid-template-columns: 700px 700px;
    justify-content: center;
    padding: 40px;
}

.productCards {
    padding: 40px 0 30px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 30px black;

    transition: .2s;
}

.productCards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 100px black;
}

.imgs {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
}

.textContainer {
    display: flex;
    gap: 10px;
}

.title {
    margin: 25px 0 0 0;
    padding: 0 20px 0 20px;
}

h3,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.imageContainer {
    padding: 40px;
}

/* body {
    background-color: rgb(255, 218, 170);
} */